.big-text {
  text-transform: uppercase;
}

.btn-outline-custom {
  color: #e8491d;
  border-color: #e8491d;
}
.btn-outline-custom:hover {
  color: #fff;
  background-color: #e8491d;
  border-color: #e8491d;
}
.btn-outline-custom:focus,
.btn-outline-custom.focus {
  /* box-shadow: 0 0 0 0.2rem rgba(240, 92, 33, 0.925); */
  box-shadow: 0 0 0 0.2rem rgba(f, f, f, 0.2);
}
.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  color: #e8491d;
  background-color: transparent;
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show > .btn-outline-custom.dropdown-toggle {
  color: #fff;
  background-color: #e8491d;
  border-color: #e8491d;
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 92, 33, 0.925);
}
