<div class="container">
  <app-post-form
    [currentPost]="currentPost"
    [isEdit]="isEdit"
    (newPost)="onNewPost($event)"
    (updatedPost)="onUpdatedPost($event)"
  ></app-post-form>
  <h2 class="text-white p-3">Posts</h2>
  <div class="card" *ngFor="let post of posts">
    <div class="card-body">
      <h3 class="p-3">
        <a routerLink="/post/{{ post.id }}"> {{ post.title }} </a>
      </h3>
      <p>{{ post.body }}</p>
      <hr />
      <button (click)="removePost(post)" class="btn btn-danger mx-1">
        <i class="fas fa-trash"></i>
      </button>
      <button (click)="editPost(post)" class="btn btn-dark">
        <i class="fas fa-pencil-alt mx-1"></i>
      </button>
    </div>
  </div>
</div>
